*{
    background-color: black;
}

.text{
    color: white;
}

h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 1.25rem;
}

div{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    height: 50%;
    margin-top: 25%;
}

img{
    border: 5px solid white;
    width: 100%;
}